body{
    /*kép háttérnek*/
    background-image: url("/images/Debrecen.jpg");
    background-repeat: no-repeat;
    position:relative;
    background-position:center;
    
    
    margin-left:15%;
    
    margin-right:15%;
   
    height: auto;
    
}
h1{
    text-align: center;
    color: black;
}
.tartalom{
    text-align: justify;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(37, 26, 16);
}
footer{
    text-align: right;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}